<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% if orders %}
      <h1>{{ title }}</h1>
      <ul>
        {% for order in orders %}
          <li>{{ order.order_customer_id }} tiene una orden con #{{ order.id }} <a href="{% url 'order' order.id %}">Ver Detalle</a></li>
        {% endfor %}
      </ul>
    {% else%}
      <h3>Por el momento no hay Ordenes</h3>
    {% endif %}
    <h2>Menú de Opciones</h2>
    <a href="{% url 'add_customer' %}">Crear Cliente</a>
    <a href="{% url 'add_product' %}">Crear Producto</a>
    <a href="{% url 'add_order' %}">Crear Orden</a><br />
  </body>
</html>
