<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Sitio de prueba para las listas y manejo de inquietudes CIDEI</h1>
        Hola <strong>{{ title }}</strong><br />
	
    	<h2>Item {{ item.name }}</h2>
        <ul>
            <li>Nombre: {{ item.name }}</li>
            <li>Categoria: {{ item.category.name }}</li>
            <li>Listado: {{ item.get_listing_display }}</li>
            <li>Departament: {{ item.deparment }}</li>
            <li>Publicado: {{ item.posted_on|date }}</li>
        </ul>
            <h2>Descripción</h2>
            <p>{{ item.description|linebreaksbr }}</p>
        </ul>
        
    </body>
</html>