<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script> <!-- JavaScript -->
		<script src="{% static "js/jquery.cookie.js" %}"></script> <!-- JavaScript -->
		<script src="{% static "js/lab5.js" %}"></script> <!-- JavaScript -->
	</head>
	<body>
		{% if user.is_authenticated %}
			<h3>hola, {{ user.username }}!</h3>
		{% else %}
			<h3>Ingresa por favor!</h3>
		{% endif %}
		<hr />
		{% if user.is_authenticated %}
			<h2>{{ title }}</h2>
			<a href="{% url 'categories' %}">Categorias</a>
			<a href="{% url 'items' %}">Items</a><br>
			<h1>Crear elementos</h1>
			<a href="{% url 'add-category' %}">Crear Categoria</a>
			<a href="{% url 'add-item' %}">Adicionar item</a><br />
		{% else %}
			<a href="{% url 'register' %}">Registrarse</a><br />
			<a href="{% url 'user-login' %}">Ingresar</a><br />
		{% endif %} <br/ >
		<ul>
			{% for sentence in sentences %}
				<li>{{ sentence }}</li>
			{% endfor %}
		</ul>
	</body>
</html>