<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script> <!-- JavaScript -->
		<script src="{% static "js/jquery.cookie.js" %}"></script> <!-- JavaScript -->
		<script src="{% static "js/lab5.js" %}"></script> <!-- JavaScript -->
	</head>
	<body>
		<h1>{{ title }}</h1>
		<ul>
		{% for item in items %}
			<li><a href="{% url 'item' item.id %}">{{ item.name|capfirst }}</a></li>
		{% endfor %}
		</ul><br>
		<a href="{% url 'index' %}">Volver al inicio</a><br />

		<a href="#" id="getAll">traer todos los items por ajax in django</a>
		<div id="resultAll"></div><br />
		
		<input type="text" id="searchItemValue">
		<a href="#" id="searchItem">buscar un item por ajax in django</a>
		<div id="resultOne"></div>
	</body>
</html>