{% extends 'order_base.html' %}
{% load static %}
{% block body_block %}
    {% if products %}
      <h1>{{ title }}</h1>
      <ul>
        {% for product in products %}
          <li>{{ product.product_name }} <a href="{% url 'product' product.id %}">Ver Detalles</a></li>
        {% endfor %}
      </ul>
    {% else%}
      <h3>Por el momento no hay Productos Registrados</h3>
    {% endif %}
    <h2>Menú de Opciones</h2>
    <a href="{% url 'add_customer' %}">Crear Cliente</a>
    <a href="{% url 'add_product' %}">Crear Producto</a>
    <a href="{% url 'add_order' %}">Crear Orden</a><br />
    <h2>Menú de Listados</h2>
    <a href="{% url 'list_products' %}">Lista de Productos</a>
    <a href="{% url 'order_index' %}">Lista de Ordenes</a>
{% endblock %}
