doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.1.1.min.js')
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/test.js")
  body
    block content